@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

canvas {
    border: 1px solid white;
    background-color: #111;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    margin-top: 2vw;
}

.score-value {
    font-weight: 700;
    font-size: 5vw;
    display: block;
    margin-top: -1vw;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3vw;
}

.final-score {
    font-weight: 500;
    font-size: 2vw;
}

.btn-play {
    border: none;
    border-radius: 5%;
    background-color: #37db05;
    padding: 1vw 2vw;
    font-size: 1vw;
    font-weight: 600;
    color: #191919;
    margin-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    cursor: pointer;
    transition: 0.2s;
}

.btn-play:hover {
    background-color: #484848;
    color: #37db05;
}

/* RESPONSIVE VERSION */
.arrow-mobile {
    display: none;
    margin-top: 30px;
    gap: 20px;
}

.arrow-mobile button {
    text-align: center;

    width: 60px;
    height: 60px;
    font-size: 30px;

    background-color: #919191;
    color: #191919;
    border: none;
    border-radius: 10%;
}

@media screen and (max-width: 820px) {
    .arrow-mobile {
        display: flex;
    }

    .score {
        font-size: 40px;
        margin-top: 20px;
    }
    
    .score-value {
        font-size: 50px;
    }
    
    .game-over {
        font-size: 45px;
    }
    
    .final-score {
        font-size: 40px;
    }
    
    .btn-play {
        font-size: 25px;
        gap: 1vw;
    }
}